<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/bookshop/css/book.css"/>
    <title>{{ book_name.bname }}</title>
</head>
<body>

<div class="nav">
    <nav>
        <ul>
            <li>
                <a id="logo" href="/"><strong>Xsan书城</strong></a>
            </li>
            <div class="classify">
                {% for foo in classify %}
                    <div id="classify">
                        <li>
                            <a href="/classify/{{ foo.id }}/1/"><strong>{{ foo.cname }}</strong></a>
                        </li>
                    </div>
                {% endfor %}
            </div>
        </ul>
    </nav>
</div>
<div class="box">
    <div class="img">
        <img src="/{{ book_name.img }}" alt=" {{ book_name.bname }}"/>
        <div class="conut">
            <p id="name">{{ book_name.bname }}</p>
            <p id="author">作者：{{ book_name.bauthor }}</p>
            <p id="states">状态：{{ book_name.bstates }}</p>
            <p id="count">{{ book_name.bintroduction }}</p>
        </div>
    </div>
    <p id="name">目录 <span id="zong">(共{{ count }}章)</span></p>
    <hr>
    {% for item in chapter %}
        <a id="list" href="/book/{{ bid }}/chapter/{{ item.id }}/">
            <p>{{ item.clist }}</p>
        </a>
    {% endfor %}
</div>

</body>
</html>