{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="/static/bookshop/css/classify.css">
{% endblock %}

{% block content %}
    <div class="box1">
        <hr id="top">
        {% for i in books %}
            <div class="book_jianjie">
                <a href="/book/{{ i.id }}">
                    <div class="img">
                        <img id="ccc" src="/{{ i.img }}" alt="{{ i.bname }}"/></div>

                    <p id="bookname">{{ i.bname }}</p>
                </a>
                <div id="test">
                    <p class="state">{{ classify_name }}&nbsp;|&nbsp;{{ i.bstates }}&nbsp;|<span>Xsan书城</span></p>
                    <p id="author">作者：{{ i.bauthor }}</p>
                </div>
                <div class="content">
                    {{ i.bintroduction }}
                </div>
            </div>
            <div class="bottombox">
                <hr id="bottom">
            </div>
        {% endfor %}
        <ul class="pagination">
            <li><a href="/classify/1/{{ page_last }}/">«</a></li>
            {% for index in books.paginator.page_range %}
                <li><a href="/classify/1/{{ index }}/">{{ index }}</a></li>
            {% endfor %}
            <li><a href="/classify/1/{{ page_next }}/">»</a></li>
        </ul>
    </div>
{% endblock %}