{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="/static/bookshop/css/content.css">
{% endblock %}
{% block content %}

    <div class="content">
        <a href="/book/{{ blink }}/"> <span id="bookname">书名：{{ chapter.cbook }}</span> </a>

        <p id="list_name">{{ chapter.clist }}</p>
        <div class="pre">{{ content }}</div>
        <div class="button">
            <a href="/book/{{ blink }}/chapter/{{ last_c }}/" class="button">
                <span id="left">  上一章 </span>
            </a>
            <a href="/book/{{ blink }}/" class="button">
                <span id="left"> 目录 </span>
            </a>
            <a href="/book/{{ blink }}/chapter/{{ next_c }}/" class="button">
                <span id="right"> 下一章</span>
            </a>
            <span> {{ zui }}</span>
        </div>
    </div>
{% endblock %}