{% extends 'base.html' %}
{% block head %}
    <script type="text/javascript" src="/static/bookshop/js/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="/static/bookshop/js/swiper-4.1.0.min.js"></script>
    <link rel="stylesheet" href="/static/bookshop/css/swiper-4.1.0.min.css">
    <link rel="stylesheet" href="/static/bookshop/css/index.css"/>
    <script src="/static/bookshop/js/index.js"></script>
{% endblock head %}
{% block content %}
    <div class="box1">
        <div class="zuixin">
            <div id="zuihuo">最火</div>
        </div>
        <div class="swiper">

            <div class="swiper-container">
                <div class="swiper-wrapper">

                    {% for foo in lunbo %}


                            <div class="swiper-slide"><a href="/book/"> <img id="lunbo" src="{{ foo.img }}" alt="轮播图"></a></div>

                    {% endfor %}
                </div>
                {#导航分页器#}
                <div class="swiper-pagination"></div>
                <!-- 如果需要导航按钮 -->
                <div class="swiper-button-prev" id="wheel_button"></div>
                <div class="swiper-button-next" id="wheel_button"></div>
            </div>


        </div>
        <div class="book">

            <div class="cname">{{ classify1 }}</div>
            <hr>
            {% for i in book1 %}
                <div class="book_jianjie">
                    <a href="/book/{{ i.id }}/">
                        <div class="img">
                            <img id="ccc" src="{{ i.img }}" alt="{{ i.bname }}"/></div>
                        <p id="bookname">{{ i.bname }}</p>
                    </a>

                    <p id="author">作者：{{ i.bauthor }}</p>
                    <p class="state">状态：{{ i.bstates }}</p>
                    <div class="content">
                        {{ i.bintroduction }}
                    </div>
                </div>
            {% endfor %}


            <div class="cname">{{ classify2 }}</div>
            <hr>
            {% for i in book2 %}
                <div class="book_jianjie">
                    <a href="">
                        <div class="img">
                            <img id="ccc" src="{{ i.img }}" alt="{{ i.bname }}"/></div>
                    </a>
                    <p id="bookname">{{ i.bname }}</p>
                    <p id="author">作者：{{ i.bauthor }}</p>
                    <p class="state">状态：{{ i.bstates }}</p>
                    <div class="content">
                        {{ i.bintroduction }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
