pre {
    margin: 0 50px ;
    white-space: pre-wrap;
    font-size: 1.5em;
}
.content{
    height: auto;
    width: 800px;
    margin: 100px auto 0 auto;
    background-color: #65b2f1;
}
#list_name{
    text-align: center;
       font-family: "华文行楷";
    font-size: 1.8em;
    margin-bottom: 20px;
    margin-top: 30px;
}